


.container.right-panel-active .overlay-panel.overlay-left {
  transform: translateX(-100%);
}

.container.right-panel-active .overlay-panel.overlay-right {
  transform: translateX(0);
}
.erro{
  color: red !important;
  z-index: 999  !important;
}