
body{
  overflow-x: hidden;
 
  
}
*{
    padding: 0px;
    margin: 0px;
   
}
.nv{
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: rgb(30, 33, 232);
}

  .ulnav {
    align-items: center;
  }
  .nv .ulnav .nav-link {
    color: #fff;
    font-size: 1.1em;
    padding: 0.5em 1em;
  }
  @media screen and (min-width: 768px) {
    .navbar-brand img {
      width: 100px;
    }
    .navbar-brand {
      margin-right: 0;
      padding: 0 1em;
    }
  }
  .facart{
    padding: 10px;
    font-size: 25px;
    color: #fff;
  }
  .css-i4bv87-MuiSvgIcon-root{
    color: #fff;
    font-size: 30px !important;
    margin-right: 10px;
  }
  .css-pwyk3z-MuiBadge-badge{
    margin-right: 10px;
  } 
  .css-jcn4dz-MuiBadge-badge {
    color: rgb(255, 255, 255) !important;
  }
  Link{
    color: azure;
  }


  .container{
    margin-top: 8%;
    width: 400px;
    border: ridge 1.5px white;
    padding: 20px;
    border-radius: 10px;
  }
  .err{
    font-size: medium;
    margin-top: 5px !important;
    color: red;
    font-family:  sans-serif;
    font-weight: 500;
  }
  body{
    background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .login{
    width: 25%;
    position: relative;
    bottom: 3rem;
    left: 15rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none !important;
  }
  a {
    text-decoration: none !important;
    list-style: none !important;
  }